* {
  margin: 0;
  padding: 0;
}
/* Poner fondo al elemento */
/* body {
  background-color: #8915e754;
} */

/* Poner imagen de fondo */
body {
  width: 100%;
  height: 100vh;
  background-image: url(./imagenes/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
